body {
	background-color:#ebe6da;
}

h1 { 
	text-align:center;
	color:#86996e;
	text-decoration:underline;
}

h2 {
	
	color:#86996e;
	
}	

p {
	color:#85786b;
}
.centrado {
	text-align:center;
}